*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: "Geist Sans", sans-serif;
}
a{
    font-size: 12px;
    color: #000;
    text-decoration: none;
}
ul{
    list-style: none;
}
i{
    font-size: 16px;
}
i.fa-solid.fa-angle-right {
    font-size: 10px;
}
.list li{
    font-size: 12px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 1px rgba(0,0,0,.03);
    padding: 2px 8px;
}
.box-list li{
    font-size: 14px;
    border: 1px solid #e5e7eb;
    padding: 4px 12px;
}
.btn{
    box-shadow: 0 0 0 #0000, 0 0 0 #0000, 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.4);
    padding: 8px 16px;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    border-radius: 8px;
}
.container{
    max-width: 896px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.flex-content{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.row-reverse{
    flex-direction: row-reverse;
}
.column-reverse{
    flex-direction: column-reverse;
}

.gap-4px{
    gap: 4px;
}
.gap-8px{
    gap: 8px;
}
.gap-10px{
    gap: 10px;
}
.gap-24{
    gap: 24px;
}
.full-width{
    width: 100%;
    max-width: 100%;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
    font-weight: 700;
}
h3{
    font-size: 14px;
}
.nameContent .nameverificationContent h1 svg {
    width: 16px;
    height: 16px;
}
.align-center{
    align-items: center;
}
.headshotContent {
    max-width: 160px;
    width: 100%;
}
img{
    width: 100%;
    height: auto;
}
.profileSection{
    padding-top: 32px;
    padding-bottom: 32px;
}
.font-thin{
    font-weight: 100;
}
.font-extralight{
    font-weight: 200;
}
.font-light{
    font-weight: 300;
}
.font-normal{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semibold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-extrabold{
    font-weight: 800;
}
.headshotContent {
    background: radial-gradient(circle, #F7F7F7, #DADADA);
    border-radius: 8px;
    overflow: hidden;
}
.headshotContent img {
    object-fit: cover;
    height: 100%;
    object-position: 4px 0px;
}
button.toggle-theme {
    max-width: 44px;
    width: 100%;
    border-radius: 30px;
    border: none;
    background: #d1d5db;
    overflow: hidden;
    position: relative;
    padding: 2px;
    cursor: pointer;
    outline: none;
    max-height: 26px;
}
button.toggle-theme .toggleswitch > i:last-of-type {
    display: none;
}
button.toggle-theme .toggleswitch {
    max-width: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    transition: 0.3s;
}
.box-content{
    box-shadow: 0 1px 3px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    border-radius: 12px;
    padding: 16px;
    border: 1px solid #e5e7eb;
}
.emailbtn{
    background: #000;
    color: #fff;
}
button.toggle-theme .toggleswitch > i {
    font-size: 12px;
}
button.toggle-theme.active .toggleswitch {
    left: auto;
    right: 2px;
}

button.toggle-theme.active .toggleswitch > i:last-of-type {
    display: block;
}
button.toggle-theme.active .toggleswitch > i:first-of-type {
    display: none;
}
.location-text svg{
    max-width: 14px;
    width: 100%;
}
.mt-2px{
    margin-top: 2px;
}
.mt-5px{
    margin-top: 5px;
}
.mt-8px{
    margin-top: 8px;
}
.mt-10px{
    margin-top: 10px;
}
.mt-15px{
    margin-top: 15px;
}
.mt-32px{
    margin-top: 32px;
}
.my-8px{
    margin-top: 8px;
    margin-bottom: 8px;
}
.mx-8px{
    margin-right: 8px;
    margin-left: 8px;
}
.m-8px{
    margin: 8px;
}
.mb-8px{
    margin-bottom: 8px;
}
.mb-16px{
    margin-bottom: 16px;
}
.mb-32px{
    margin-bottom: 32px;
}

.pl-24px{
    padding-left: 24px;
}
.py-32px{
    padding-top: 32px;
    padding-bottom: 32px;
}
.px-8px{
    padding-left: 8px;
    padding-right: 8px;
}
.location-text span{
    font-size: 14px;
}

.text-gray{
   color: rgb(156 163 175);
}
.roleContent{
    font-size: 16px;
    color: #000000;
}
.leftContent{
    width: 70%;
}
.rightContent{
    width: 30%;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.size-14px{
    font-size: 14px;
}
.size-12px{
    font-size: 12px;
}
.size-10px{
    font-size: 10px;
}
.verticalLine {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #eaeaea;
    left: 10px;
}
.circle {
    position: absolute;
    max-width: 12px;
    height: 12px;
    border: 2px solid #eaeaea;
    border-radius: 100%;
    width: 100%;
    left: 4px;
    background: white;
    top: 3px;
}
.circle.fill {
    background: #111;
}
.text-right{
    text-align: right;
}
.project-box-list img {
    border-radius: 8px;
}
.project-list .projectCategories {
    opacity: 0;
    background: #ffffff;
    transition: 0.3s;
    bottom: -100%;
    padding: 10px;
}
.project-list{
    overflow: hidden;
}
.project-list:hover .projectCategories{
    bottom: 0;
    opacity: 0.9;
    top: 0;
}
.project-list .projectCategories li {
    background: #dddddd;
    border-radius: 4px;
}
.project-list:hover {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
}
.projectCategories p {
    margin-bottom: 8px;
    font-weight: 800;
}